/*这个是整个的那个大框*/
#content_right{
	width: 807px;
	height: auto;
	overflow: hidden;
	float: left;
}
/*这个是大框里面上面的部分*/
#content_right_head{
	width: 807px;
	height: 45px;
	float: left;
	border-bottom: dashed #eaeaea;
}
#content_right_head #content_right_head_title{
	float: left;
	margin-top: 19px;
	margin-left: 25px;
}
#content_right_head h2{
	color: #716F6F;
}

#time_week {
	width: 184px;
	height: 38px;
	float: right;
	font-family: 黑体;
	font-size: 12px;
		text-align: center;
}

#Time{
	float: right;
	margin-top: 8px;
	*margin-right: 28px !important;
	margin-right: 20px;
}

#week {
	color:#b5b5b5;
	float: right;
	text-align: center;
}

/*这里是列表*/

#today_new {
	width: 807px;
	height: auto;
	float: left;
	border-bottom: dashed #eaeaea;
}

.date {
	width: 56px;
	height: 59px;
	background: url(../img/date.gif);
	float: left;
	font-family: 黑体;
	text-align: center;
	margin-top: 11px;
	margin-left: 27px;
}

.year {
	font-size: 12px;
	display: block;
	margin-top: 2px;
}

.day {
	font-size: 24px;
	display: block;
}

.month {
	font-size: 12px;
	display: block;
}

.content_right_body{
	width: 650px;
	height: auto;
	float: left;
	border-radius:10px;
	border-width:2px;
	border-color:#DFDFDF;
	margin-top: 11px;
	margin-left: 18px;
	border-style: solid;
}

.content_right_body ul{
	*margin-left: 14px !important;
	margin-left: 20px;
	float: left;
	width: 400px;
	margin-top: 1px;
	text-align: left;
}

.content_right_body ul li{
	list-style: none;
	display: block;
	margin-top: 9px;
	overflow: hidden;
	width: 400px;
	float: left;
}
.content_right_body_point{
	display: inline-block;
	width: 7px;
	height: 7px;
	background: url(../img/point.png);
	margin-right: 9px;
	float: left;
	margin-top: 8px;
}
.content_right_body ul li a{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #100f0f;
	text-decoration: none;
	display: block;
	width: 340px;
	height: 19px;
	overflow: hidden;
	line-height: 20px;
}

.content_right_body ul li a:hover{
	background: #eaeaea;
}

.new_icon {
	float: right;
	width: 169px;
	height: 116px;
	display: inline-block;
	margin-top: 5px;
	margin-right: 17px;
}

#yesterday_new {
	width: 807px;
	height: auto;
	float: left;
	margin-top: 10px;
}

